<router-outlet></router-outlet>
<!-- <app-login></app-login>
<hr />
<div>
  <div class="card-container">
    <h1>Upload your video here</h1>
    <input
      type="file"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />

    <div class="file-upload">
      {{ fileName || "No file uploaded yet." }}

      <button
        mat-mini-fab
        color="primary"
        class="upload-btn"
        (click)="fileUpload.click()"
      >
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="post()">
        Submit Video
      </button>
      <button mat-raised-button color="accent" (click)="findStatus()">
        Check video status
      </button>
    </div>
  </div>

  <mat-card class="summary">
    <mat-card-title>Summary</mat-card-title>
    <ng-container *ngFor="let topic of topics">
      <mat-chip *ngIf="topic">{{ topic.text }}</mat-chip>
    </ng-container>
    <mat-card-content>
      <ng-container></ng-container>
      <p>{{ summary }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="getSummary()">
        Get Summary
      </button>
      <button mat-raised-button color="accent" (click)="getTopics()">
        Display Topics
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>Conversation Transcript</mat-card-title>
    <mat-card-content>
      <ng-container *ngFor="let message of messages">
        <mat-card-subtitle
          >{{ message.startTime }} - {{ message.endTime }}</mat-card-subtitle
        >
        <p>{{ message.text }}</p>
        <p>Sentiment: {{ message.suggested }}</p>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="getMessages()">
        Get Messages
      </button>
    </mat-card-actions>
  </mat-card>
</div> -->
