html, body{
  overflow-x: hidden!important;
}
mat-form-field.mat-form-field {
  width: 100%;
}
input[type="file"] {
  display: none;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.custom-file-upload {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  cursor: pointer;
}
.file-input {
    display: none;
  }
  .example-full-width {
    width: 100%;
  }
.url-container{
  min-width: 80vw;
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.data-container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
}
.mat-raised-button{
  margin: 10px;
}
.container button{
  size: 5px;
  margin: 10px;
  padding: 15px;
}
.container.example-full-width{
  margin: 10px;
}
.button-container button{
  margin: 10px
}
.example-card {
  max-width: 400px;
  margin-top: 10px;
  margin: 10px;
}
.example-card{
  min-width: 300px;
}
.summary{
  min-width: 1000px;
  padding: 40px;
}
.analytics-container{
    display: flex;
    margin: 10px;
}
.chip-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chip-list mat-chip-list{
  margin: 4px;
}